.Card {
    /* background: whitesmoke; */
    width: 550px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1  );
    height: auto;
    transform: translate(130% , 40%);
    padding: 7px 10px;
}
.dashboard {
    width: 80%;
    text-align: center;
    transform: translate(16%, 10%);
}